@import "plugins/bootstrap";
@import "base";
@import "modal";

p 
{
  color: green;
}

.warning
{
  color: yellow;
}
.strike-out
{
  text-decoration: line-through;
}

.left-icon
{
  margin-right: 10px;
}

.modal-content
{
  padding: 0;
}