@import "plugins/bootstrap";
@import "plugins/bootstrap-overrides";
@import "base";
@import "modal";
@import "sidebar";

p 
{
  color: green;
}

.warning
{
  color: yellow;
}
.strike-out
{
  text-decoration: line-through;
}

.modal-content
{
  padding: 0;
}